#navbar-title {
    color: white;
}

div.container p {
    width: 35em;
    font-size: 16px;
}

div.container footer p {
    width: initial;
}

div.container pre {
    margin-left: 30px;
}

div.container p img {
    float:right;
}

div.large_content p {
    font-size: 20px;
}

div.large_content p {
    width: initial;
}

div.row p {
    width: initial;
    font-size: 14px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

hr.footer {
    margin-bottom: 5px;
}
