div#tryit_console_row {
    position: fixed;
    bottom: 0;
    z-index: 10;
    min-width: 100%;
    padding: 0;
    background: #fff;
}

div#tryit-instructions {
    padding-bottom: 380px;
}

div#tryit_console_panel {
    max-width: 1122px; /* 1170px from local.css - 2x24px padding */
    margin-right: auto;
    margin-left: auto;
}

div#tryit_info_panel th {
    width: 15em;
}

div#tryit_info_panel table {
    margin-bottom: 0;
}

.p-notification__response {
    width: 100%;
}

div#tryit_examples_panel p {
    max-width: 100%;
}
