<!DOCTYPE html>
<html lang="en">
    <head>
{% block head %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="/static/img/favicon.ico"/>

{% if page_title %}
        <title>Linux Containers - {{ page_title }}</title>
{% else %}
        <title>Linux Containers</title>
{% endif %}

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="/static/css/local.css" rel="stylesheet"/>
        <link href="/static/css/pygments.css" rel="stylesheet"/>

        <!-- Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45204001-1', 'auto');
          ga('send', 'pageview');
        </script>
{% endblock %}
    </head>

    <body role="document">
{% include "common/header.tpl.html" %}

        <div class="container">
            <ol class="breadcrumb">
                <li><img id="breadcrumb-logo" src="/static/img/containers.png"/></li>
{% for entry in page_menu %}
                <li>{{ entry }}</li>
{% endfor %}
            </ol>
{% block content %}{% endblock %}

{% include ["common/footer." + page_language[0] + ".tpl.html", "common/footer.tpl.html"] %}

            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
