<footer class="p-footer">
  <div class="p-footer--secondary row">
    <p class="p-footer--secondary__content">プロジェクトのインフラは <a href="https://zabbly.com">Zabbly</a> が後援しています。</p>
    <nav class="p-footer--secondary__nav">
      <ul class="p-inline-list--middot u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/lxc/linuxcontainers.org">このサイトをより良くする</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="#">ページの上部へ戻る</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">コンテンツはクリエイティブ・コモンズ CC BY NC SA の下に提供されています</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
