<footer class="p-footer">
  <div class="row">
    <p>Project sponsored by <a href="http://www.canonical.com">Canonical Ltd.</a></p>
    <nav class="p-footer__nav">
      <ul class="p-inline-list--middot u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/lxc/linuxcontainers.org">Improve this website</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="#">Back to top</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Content under Creative Commons CC BY NC SA</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
