<footer class="p-footer">
  <div class="p-footer--secondary row">
    <p class="p-footer--secondary__content">Infrastruktur proyek ini disponsori oleh <a href="https://zabbly.com">Zabbly</a>.</p>
    <nav class="p-footer--secondary__nav">
      <ul class="p-inline-list--middot u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/lxc/linuxcontainers.org">Tingkatkan web ini</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="#">Kembali ke atas</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Konten tersedia dengan Creative Commons CC BY-NC-SA</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
