<footer class="p-footer">
  <div class="p-footer--secondary row">
    <p class="p-footer--secondary__content">该项目的基础设施由 <a href="https://zabbly.com">Zabbly</a> 赞助。</p>
    <nav class="p-footer--secondary__nav">
      <ul class="p-inline-list--middot u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/lxc/linuxcontainers.org">改进本网站</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="#">回到顶部</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">本网站采用 CC BY-NC-SA 授权</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
