<footer class="p-footer">
  <div class="row">
    <p>이 프로젝트는 <a href="http://www.canonical.com">Canonical Ltd.</a>의 지원을 받고 있습니다.</p>
    <nav class="p-footer__nav">
      <ul class="p-inline-list--middot u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/lxc/linuxcontainers.org">이 사이트를 개선하고 싶다면</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="#">맨 위로</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">이 내용은 크리에이티브 커먼즈 CC BY NC SA 로 제공 되고 있습니다.</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
