<footer class="p-footer">
  <div class="row">
    <nav class="p-footer__nav">
      <ul class="p-inline-list--middot u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/lxc/linuxcontainers.org">Улучшить этот вебсайт</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="#">Наверх</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Содержимое распространяется по лицензии Creative Commons CC BY-NC-SA</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

