<header id="navigation" class="p-navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__item" href="/">
         <img class="p-navigation__image" src="/static/img/containers.small.png" alt="Linux containers logo" border="0" />
        </a>
      </div>
      {% if menu %}
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      {% endif %}
    </div>

    {% if menu %}
      <nav class="p-navigation__nav" role="menubar">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__items" role="menu">
          {% for entry in menu %}
            {% if entry[0] is string %}
              <li class="p-navigation__item{% if page_menu and page_menu[0] == entry[1] %} is-selected{% endif %}">
                <a href="{{ entry[0] }}" class="p-navigation__link">{{ entry[1] }}</a>
              </li>
            {% else %}
              <li class="p-navigation__item--dropdown-toggle {% if page_menu and page_menu[0] == entry[1] %} is-selected{% endif %}" id="{{ entry[1] }}">
                <a href="#{{ entry[1] }}-menu" class="p-navigation__link" aria-controls="{{ entry[1] }}-menu">{{ entry[1] }}</a>
                <ul class="p-navigation__dropdown" id="{{ entry[1] }}-menu" aria-hidden="true">
                  {% for sub_entry in entry[0] %}
                    {% if not sub_entry[0] and sub_entry[0] is string %}
                      <!-- SEPARATOR / HEADING -->
                      <li>
                        <hr class="u-no-margin--bottom">
                        {% if sub_entry[1] %}
                          <h3 class="p-heading--5 p-navigation__link u-no-margin--bottom">{{ sub_entry[1] }}</h3>
                        {% endif %}
                      </li>
                    {% else %}
                      <li>
                        {% if sub_entry[2] %}
                        <a href="{{ sub_entry[0] }}" target="_blank" class="p-navigation__dropdown-item{% if page_menu[1] == sub_entry[1] %} is-selected{% endif %}">{{ sub_entry[1] }}</a>
                        {% else %}
                        <a href="{{ sub_entry[0] }}" class="p-navigation__dropdown-item{% if page_menu[1] == sub_entry[1] %} is-selected{% endif %}">{{ sub_entry[1] }}</a>
                        {% endif %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="p-navigation__items" role="menu">
        {% if languages %}
          <li class="p-navigation__item--dropdown-toggle">
            <a href="#languages" class="p-navigation__link"aria-controls="languages">{{ page_language[2] }}</a>
            <ul class="p-navigation__dropdown--right" role="menu" id="languages" aria-hidden="true">
              {% for language in languages %}
                {% if page_language[0] == language[0] %}
                  <li><a href="#" class="p-navigation__dropdown-item is-active">{{ language[1] }}</a></li>
                {% else %}
                  {% if language[0] %}
                    <li><a href="/{{ language[0] }}{{ page_raw_path }}"  class="p-navigation__dropdown-item">{{ language[1] }}</a></li>
                  {% else %}
                    <li><a href="{{ page_raw_path }}"  class="p-navigation__dropdown-item">{{ language[1] }}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
