<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" id="navbar-title">Linux Containers</span>
        </div>

        <div id="navbar" class="navbar-collapse">
{% if menu %}
            <ul class="nav navbar-nav">
    {% for entry in menu %}
        {% if entry[0] is string %}
            {% if page_path == entry[0] %}
                <li class="active"><a href="#">{{ entry[1] }}</a></li>
            {% else %}
                <li><a href="{{ entry[0] }}">{{ entry[1] }}</a></li>
            {% endif %}
        {% else %}
            {% if page_menu[0] == entry[1] %}
                <li class="dropdown active">
            {% else %}
                <li class="dropdown">
            {% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ entry[1] }} <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
            {% for sub_entry in entry[0] %}
                {% if not sub_entry[0] %}
                        <li class="divider"></li>
                    {% if sub_entry[1] %}
                        <li class="dropdown-header">{{ sub_entry[1] }}</li>
                    {% endif %}
                {% else %}
                    {% if sub_entry[0] is string %}
                        {% if page_path == sub_entry[0] %}
                        <li class="active"><a href="#">{{ sub_entry[1] }}</a></li>
                        {% else %}
                        <li><a href="{{ sub_entry[0] }}">{{ sub_entry[1] }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if page_menu[1] == sub_entry[1] %}
                        <li class="dropdown-submenu active">
                        {% else %}
                        <li class="dropdown-submenu">
                        {% endif %}
                            <a href="#">{{ sub_entry[1] }}</a>

                        {% if sub_entry[0]|length > 15 %}
                            <ul class="dropdown-menu columns" role="menu">
                        {% else %}
                            <ul class="dropdown-menu" role="menu">
                        {% endif %}
                        {% for sub_sub_entry in sub_entry[0] %}
                            {% if not sub_sub_entry[0] %}
                                <li class="divider"></li>
                                {% if sub_sub_entry[1] %}
                                <li class="dropdown-header">{{ sub_sub_entry[1] }}</li>
                                {% endif %}
                            {% else %}
                                {% if page_path == sub_sub_entry[0] %}
                                <li class="active"><a href="#">{{ sub_sub_entry[1] }}</a></li>
                                {% else %}
                                <li><a href="{{ sub_sub_entry[0] }}">{{ sub_sub_entry[1] }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
                    </ul>
                </li>
        {% endif %}
    {% endfor %}
            </ul>
{% endif %}

{% if languages %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ page_language[2] }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
    {% for language in languages %}
        {% if page_language[0] == language[0] %}
                        <li class="active"><a href="#">{{ language[1] }}</a></li>
        {% else %}
            {% if language[0] %}
                        <li><a href="/{{ language[0] }}{{ page_raw_path }}">{{ language[1] }}</a></li>
            {% else %}
                        <li><a href="{{ page_raw_path }}">{{ language[1] }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
                    </ul>
                </li>
            </ul>
{% endif %}
        </div>
    </div>
</nav>
